a{
  text-decoration: 0;
}
.message:hover{
  border: 5px solid blue;
}

#test{
  background-color: #2e19af;
  color: white;
  padding: 2px;
  margin: 14px;
  width: 97px;
}

body{
  margin: 0;
  padding: 0;
  height: 3000px;
  background-color: #fff;
  background-image: url(images/lyagushki.jpg);

  background-position: center 63px;
  font-family: 'Oxygen', sans-serif;
}

.header{
  background-color: #BF7F07;
  opacity: 1;
  height: 63px;
  border: 1px solid black;
  border-left: 0;
  border-right: 0;



}

.logo{
  box-sizing: border-box;
}


.logo-image{
  height: 157px;
  margin-top: -44px;
  box-sizing: border-box;
}

.frog{

}

.table1{
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 250px;
  text-align: center;
}

.card{
  margin-left: 864px;
  margin-top: -441px;
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
}


.card-photo{
  height: 300px;
  width: 300px;
  border: 2px solid #32976D;
  border-radius: 50%;
  margin-left: -2px;



}

.card-title{
  text-align: center;
  margin-top: 15px;
  color: #33917f;
}

.card-text{
  color: #33917f;
  border: 1px solid #33917f;
  padding: 5px;
}

.header.color {
  background-color: #94BFAE;
}
